@import "open-color";

$html-font-size: 100%;
$html-font-family: 'Roboto', sans-serif;

$font-size-sm: 0.8rem;
$font-size-md: 1.0rem;
$font-size-lg: 1.8rem;

$font-color: $oc-gray-0;
$layout-padding: 8px;
