@import "~gsass/vars";

.countdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    width: $font-size-lg * 2;
    height: $font-size-lg * 2;
}

.countdown-background {
    position: absolute;
    background-color: $oc-gray-9;
    width: $font-size-lg * 2;
    height: $font-size-lg * 2;
}

.countdown-background.rotating {
    transition: transform .2s ease;
    transform-origin: center;
}

.countdown-text {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: $font-size-lg;

    transition: transform .2s ease;
}

.countdown-text.inactive {
    color: $oc-gray-6;
}