@import "~gsass/open-color";

.app-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    overflow-y: auto;

    // Make these themeable:
    background: $oc-gray-0;
    color: $oc-gray-9;
}