.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    align-items: center;
    justify-content: center;
}

.card {
    padding: 16px;
    // min-width: 320px;
    // min-height: 320px;
}
